<!-- Site Title -->
<title>Fadmin - Responsive Bootstrap Admin Template - Fadmin by Themeboss</title>

<!-- Site favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- scrollbar -->
<link rel="stylesheet" href="assets/css/plugins/simplebar.min.css">
<!-- Icon Css -->
<link href="assets/css/icons.css" rel="stylesheet" type="text/css">

<link href="assets/js/plugins/uniform/css/default.css" rel="stylesheet"/>
<link href="assets/js/plugins/switchery/switchery.min.css" rel="stylesheet"/>

<!-- Custom  Css -->
<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
