<!-- Page Sidebar -->
<div class="page-sidebar">
    <a class="logo-box" href="index.html">
        <span>
            <i class="mdi mdi-chemical-weapon" id="fixed-sidebar-toggle-button"></i>
            <span>Fadmin</span>
        </span>
        <i class="mdi mdi-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner simple-bar" data-simplebar>
        <div class="page-sidebar-menu" data-Current-Page=@@dataCurrentPage>
            <ul class="accordion-menu">
                <li>
                    <a href="index.html" data-page="index">
                        <i class="menu-icon mdi mdi-home"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-bullseye"></i><span>UI Elements</span><i
                            class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="ui-buttons.html" data-page="ui-buttons">Buttons</a></li>
                        <li><a href="ui-cards.html" data-page="ui-cards">Cards</a></li>
                        <li><a href="ui-tabs-accordions.html" data-page="ui-tabs">Tabs &amp; Accordions</a></li>
                        <li><a href="ui-alerts.html" data-page="ui-alerts">Alerts</a></li>
                        <li><a href="ui-progressbars.html" data-page="ui-progressbars">Progress Bars</a></li>
                        <li><a href="ui-typography.html" data-page="ui-typography">Typography</a></li>
                        <li><a href="ui-grid.html" data-page="ui-grid">Grid</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-cards-outline"></i><span>Icons</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="icons-material.html" data-page="icons-material">Material Design</a></li>
                        <li><a href="icons-ion.html" data-page="icons-ion">Ion Icons</a></li>
                        <li><a href="icons-fontawesome.html" data-page="icons-fontawesome">Font Awesome</a></li>
                        <li><a href="icons-feather.html" data-page="icons-feather">Feather Icons</a></li>
                        <li><a href="icons-themify.html" data-page="icons-themify">Themify Icons</a></li>
                        <li><a href="icons-dripicons.html" data-page="icons-dripicons">Dripicons</a></li>
                        <li><a href="icons-typicons.html" data-page="icons-typicons">Typicons Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-apple-keyboard-command"></i><span>Layouts</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="layout-blank.html" data-page="layout-blank">Blank Page</a></li>
                        <li><a href="layout-boxed.html" data-page="layout-boxed">Boxed Layout</a></li>
                        <li><a href="layout-collapsed-sidebar.html" data-page="layout-collapsed-sidebar">Collapsed Sidebar</a></li>
                        <li><a href="layout-fixed-header.html" data-page="layout-fixed-header">Fixed Header</a></li>
                        <li><a href="layout-fixed-sidebar.html" data-page="layout-fixed-sidebar">Fixed Sidebar</a></li>
                        <li><a href="layout-fixed-sidebar-header.html" data-page="layout-fixed-sidebar-header">Fixed Sidebar &amp; Header</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-clipboard-outline"></i><span>Forms</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="form-mask.html" data-page="form-mask">Form Mask</a></li>
                        <li><a href="form-elements.html" data-page="form-elements">Form Elements</a></li>
                        <li><a href="form-xeditable.html" data-page="form-xeditable">Form Xeditable</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-table"></i><span>Tables</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="tables-footable.html" data-page="tables-footable">Foo Table</a></li>
                        <li><a href="tables-responsive.html" data-page="tables-responsive">Responsive Table</a></li>
                        <li><a href="tables-basic.html" data-page="tables-basic">Basic Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-chart-bubble"></i><span>Chart</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="apexcharts.html" data-page="apexcharts">Apexcharts</a></li>
                        <li><a href="echarts.html" data-page="echats">Echarts</a></li>
                    </ul>
                </li>
                <li>
                    <a href="maps.html" data-page="maps">
                        <i class="menu-icon mdi mdi-map-marker-multiple"></i><span>Vector Maps</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-google-pages"></i><span>Extra Pages</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="pages-login.html" data-page="pages-login">Login</a></li>
                        <li><a href="pages-register.html" data-page="pages-register">Register</a></li>
                        <li><a href="pages-recoverpw.html" data-page="pages-recoverpw">Recover Password</a></li>
                        <li><a href="pages-lock-screen.html" data-page="pages-lock-screen">Lock Screen</a></li>
                        <li><a href="pages-400.html" data-page="pages-400">Error 400</a></li>
                        <li><a href="pages-403.html" data-page="pages-403">Error 403</a></li>
                        <li><a href="pages-404.html" data-page="pages-404">Error 404</a></li>
                        <li><a href="pages-500.html" data-page="pages-500">Error 500</a></li>
                        <li><a href="pages-503.html" data-page="pages-503">Error 503</a></li>
                    </ul>
                </li>
                <li class="menu-divider"></li>
                <li>
                    <a href="../../../../Documentation/index.html" target="_blank" data-page="documentation">
                        <i class="menu-icon mdi mdi-incognito"></i><span>Documentation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Sidebar -->