body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #505458;
  font-size: 16px;
  line-height: 22px;
  overflow-x:hidden;
}

.btn-primary {
  background-color: #518ce5;
  border-color: #518ce5;
}

.btn-outline-primary {
  border-color: #518ce5;
  color: #518ce5;
}

.btn-outline-primary:hover {
  background-color: #518ce5;
  border-color: #518ce5;
}

.btn-success {
  background-color: #01bf86;
  border-color: #01bf86;
}

.section{
  padding: 80px 0;
}  

.container-fluid{
  width: 85%;
}

.home-section{
  background-color: #f8f9fa; 
  padding:100px 0;
}

.img-logo{
  height: 38px;
}

.demo-logo{
  height: 50px;
  margin-bottom: 10px;
}

.home-img-box {
  padding: 20px 0 30px 0; 
  text-align: center;
}

.home-img-box a {
  border: 5px solid #f2f2f2;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.home-img-box img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}

.home-img-box h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  font-size: 22px;
}

.footer {
  padding: 30px 0px;
  background-color: #f8f9fa;
}

.border {
  height: 4px;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto 30px;
  background-color: #01bf86;
}

.title {
  margin-bottom: 15px;
  font-size: 22px;
}

.copyright{
  font-size:20px;
}

/* .btn {
    padding: 12px 26px;
} */

.btn-rounded {
    border-radius: 30px;
}

.btn-custom {
    background-color: #ff546c;
    border: 2px solid #ff546c;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #e6475e;
    border-color: #e6475e;
    color: #f3f3f3;
}

/* Animation Code */
.animation {
	will-change: transform;
}

@media screen and (min-width: 768px) {
	.fade-left-desktop,
	.fade-right-desktop {
		opacity: 0;
		transition: 1500ms all ease-in-out;
	}
	.fade-left-desktop {
		transform: translateX(50px);
	}
	.fade-right-desktop {
		transform: translateX(-50px);
	}
	.fade-left-desktop.animate,
	.fade-right-desktop.animate {
		opacity: 1;
		transform: translateX(0);
	}
	.fade-down-desktop,
	.fade-up-desktop {
		opacity: 0;
		transition: 1500ms all ease-in-out;
		transform: translateY(50px);
	}
	.fade-up-desktop {
		transform: translateY(50px);
	}
	.fade-down-desktop {
		transform: translateY(-50px);
	}
	.fade-down-desktop.animate,
	.fade-up-desktop.animate {
		opacity: 1;
		transform: translateY(0);
	}
	.grow-left-desktop,
	.grow-right-desktop {
		transform: scaleX(0);
		transform-origin: left;
		transition: 1200ms all ease-in-out;
	}
	.grow-left-desktop {
		transform-origin: right;
	}
	.grow-right-desktop {
		transform-origin: left;
	}
	.grow-left-desktop.animate,
	.grow-right-desktop.animate {
		transform: scaleX(1);
	}
	.grow-down-desktop,
	.grow-up-desktop {
		transform: scaleY(0);
		transition: 1200ms all ease-in-out;
	}
	.grow-up-desktop {
		transform-origin: bottom;
	}
	.grow-down-desktop {
		transform-origin: top;
	}
	.grow-down-desktop.animate,
	.grow-up-desktop.animate {
		transform: scaleY(1);
	}
	.stagger-desktop-1 {
		transition-delay: 300ms;
	}
	.stagger-desktop-2 {
		transition-delay: 600ms;
	}
	.stagger-desktop-3 {
		transition-delay: 900ms;
	}
	.stagger-desktop-4 {
		transition-delay: 1200ms;
	}
}
@media screen and (max-width: 767px) {
	.fade-down-mobile,
	.fade-up-mobile {
		opacity: 0;
		transition: 1500ms all ease-in-out;
	}
	.fade-up-mobile {
		transform: translateY(50px);
	}
	.fade-down-mobile {
		transform: translateY(-50px);
	}
	.fade-down-mobile.animate,
	.fade-up-mobile.animate {
		opacity: 1;
		transform: translateY(0);
	}
	.grow-left-mobile,
	.grow-right-mobile {
		transform: scaleX(0);
		transition: 1200ms all ease-in-out;
	}
	.grow-left-mobile {
		transform-origin: right;
	}
	.grow-right-mobile {
		transform-origin: left;
	}
	.grow-left-mobile.animate,
	.grow-right-mobile.animate {
		transform: scaleX(1);
	}
	.grow-down-mobile,
	.grow-up-mobile {
		transform: scaleY(0);
		transform-origin: top;
		transition: 1200ms all ease-in-out;
	}
	.grow-up-mobile {
		transform-origin: bottom;
	}
	.grow-down-mobile {
		transform-origin: top;
	}
	.grow-down-mobile.animate,
	.grow-up-mobile.animate {
		transform: scaleY(1);
	}
	.fade-mobile {
		opacity: 0;
		transition: 1000ms all ease-in-out;
	}
	.fade-mobile.animate {
		opacity: 1;
	}
}

/* Animation Code end */